/*COLORS: 
GREY: rgb(51, 51, 51)
RED: rgb(153,51,39) */


/*HTML-TAGS*/

html { scroll-behavior: smooth; } 

body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(51, 51, 51);
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

b {
    color: rgb(153,51,39);
    font-weight: normal;
}

h1 {
    font-size: 60pt;
    color: rgb(153,51,39);
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(153,51,39);
    height: 1px;
    border: none;
}

img {
    width: 100%;
    border: 1px solid rgb(153,51,39);
    border-radius: 1%;
}

video {
    width: 100%;
    border: 1px solid rgb(153,51,39);
    border-radius: 1%;
}

/*CLASSES*/ 

.a2 {
    color: rgb(153,51,39);
}

.back {
    text-align: right;
    float: left;
    line-height: 150%;
    font-size: 30pt;
    font-weight: lighter;
    text-align: end;
    padding-right: 2vw;
    padding-left: 2vw;
}

.component {
    width: 30%;
    opacity: 0.5;
}

.component:hover {
    opacity: 1;
}

.content-block {
    margin-left: 20%;
    margin-top: 8%;
    margin-right: 30%;
    margin-bottom: 8%
}

.content-text {
    line-height: 150%;
    color:rgb(99, 99, 99);
}

.content-zitat {
    width: 100%;
    height: 90vh;
    text-align: center;
    font-weight: lighter;
}

.footer {
    background-color: rgb(153,51,39);
    color:white;
    line-height: 150%;
    font-size: 30pt;
    height: 60px;
    font-weight: lighter;
    text-align: end;
    padding-right: 2vw;
    padding-left: 2vw;
    bottom: 0;
    max-width: 100vw;
}

.fixed {
    background-color: rgba(153, 50, 39, 0.445);
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
}

.h1-start {
    margin:0; 
    color:white;
    text-align: center;
}

.h2-start {
    color:white;
    text-align: center;
    margin: 0;
    font-weight: lighter;
    line-height: 150%;
    font-size: 25pt;
}

.next {
    text-align: right;
    float: right;
    line-height: 150%;
    font-size: 30pt;
    font-weight: lighter;
    text-align: end;
    padding-right: 2vw;
    padding-left: 2vw;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.884);
    z-index: 2;
    cursor: pointer;
}

.picdescription {
    font-size: 10pt;
    line-height: 50%;
    color: rgb(153,51,39);
}

.start {
    width: 100%;
    height: 70vh;
    background-image: url("media/erdbeere.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30vh;
}
.system {
    height: 30vh;
    width: 100%;
    border-radius:0;
    margin:0;
    padding: 0;
    text-align: center;
    
}

.systembutton {
    float: left;
    width: 50%;
}

.systemdiagramm {
    padding: 5vh;
}

#trailer {
  position: fixed;
  right: 0;
  top: 0;
  max-width: auto; 
  max-height: 100%;
  border:none;
}

.zitat {
    color:rgb(153,51,39);
    padding-top: 30vh;
    font-weight: lighter;
    font-size: 25pt;
}

















